@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/public/stars.jpg');
}

* {
    cursor: url('/public/cursor/frame1.png'), auto;
    animation: cursor 800ms infinite;
}

@keyframes cursor {
    0% {cursor: url('/public/cursor/frame1.png'), auto;}
    20% {cursor: url('/public/cursor/frame2.png'), auto;}
    40% {cursor: url('/public/cursor/frame3.png'), auto;}
    60% {cursor: url('/public/cursor/frame4.png'), auto;}
    80% {cursor: url('/public/cursor/frame5.png'), auto;}
    100% {cursor: url('/public/cursor/frame6.png'), auto;}
}