@tailwind base;
@tailwind components;
@tailwind utilities;

/* background and site stuff */
body {
    background-image: url('/public/stars.jpg');
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
  }

/* custom cursor */
* {
    cursor: url('/public/cursor/frame1.png'), auto;
    animation: cursor 800ms infinite;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

@keyframes cursor {
    0% {cursor: url('/public/cursor/frame1.png'), auto;}
    20% {cursor: url('/public/cursor/frame2.png'), auto;}
    40% {cursor: url('/public/cursor/frame3.png'), auto;}
    60% {cursor: url('/public/cursor/frame4.png'), auto;}
    80% {cursor: url('/public/cursor/frame5.png'), auto;}
    100% {cursor: url('/public/cursor/frame6.png'), auto;}
}

/* Specific styles that are easier to write in CSS than Tailwind */
#content > *:not(#ie) {
  margin-bottom: 2rem;
}